@import url('https://fonts.googleapis.com/css?family=Barlow:500');

body {
    font-family: Barlow, sans-sarif;
    background: #f9f9f9;
    overflow:hidden; 
    margin:0;
  }

  h1{
    text-align:center;
  }

p{
    text-size: 20px;
    line-height: 1.5;
    margin-left:20px;
    width:90%;
    text-align:center;
    overflow:hidden; 
}

a:link {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: none;
 }
 a:visited {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: none;
 }
 a:active {
    color: deepskyblue;
    background-color: transparent;
 }

